In [1]:
import numpy as np 
import pandas as pd 
import os

In [2]:
#import libraries
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [3]:
# read file
data=pd.read_csv("Fish.csv")
data.head()

  Species  Weight  Length1  Length2  Length3   Height   Width
0   Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1   Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2   Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3   Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Species  159 non-null    object
 1   Weight   159 non-null    float64
 2   Length1  159 non-null    float64
 3   Length2  159 non-null    float64
 4   Length3  159 non-null    float64
 5   Height   159 non-null    float64
 6   Width    159 non-null    float64
dtypes: float64(6), object(1)
memory usage: 8.8+ KB

In [5]:
# checking None value
data.isnull().sum()

Species    0
Weight     0
Length1    0
Length2    0
Length3    0
Height     0
Width      0
dtype: int64

In [6]:
a=data.iloc[:,2:]
a.head()

   Length1  Length2  Length3   Height   Width
0     23.2     25.4     30.0  11.5200  4.0200
1     24.0     26.3     31.2  12.4800  4.3056
2     23.9     26.5     31.1  12.3778  4.6961
3     26.3     29.0     33.5  12.7300  4.4555
4     26.5     29.0     34.0  12.4440  5.1340

In [7]:
b=data.iloc[:,1]
b.head()

0    242.0
1    290.0
2    340.0
3    363.0
4    430.0
Name: Weight, dtype: float64

In [8]:
data['Species'].value_counts()

Perch        56
Bream        35
Roach        20
Pike         17
Smelt        14
Parkki       11
Whitefish     6
Name: Species, dtype: int64

In [27]:
important_data=['Species','Length1','Length2','Length3','Height','Width']
X=data[important_data]
y=data.Weight
print(X.head())
print(y.head())

  Species  Length1  Length2  Length3   Height   Width
0   Bream     23.2     25.4     30.0  11.5200  4.0200
1   Bream     24.0     26.3     31.2  12.4800  4.3056
2   Bream     23.9     26.5     31.1  12.3778  4.6961
3   Bream     26.3     29.0     33.5  12.7300  4.4555
4   Bream     26.5     29.0     34.0  12.4440  5.1340
0    242.0
1    290.0
2    340.0
3    363.0
4    430.0
Name: Weight, dtype: float64

In [28]:
X = pd.get_dummies(X, columns = ['Species'])

In [29]:
X

,Length1,Length2,Length3,Height,Width,Species_Bream,Species_Parkki,Species_Perch,Species_Pike,Species_Roach,Species_Smelt,Species_Whitefish
0,23.2,25.4,30.0,11.5200,4.0200,1,0,0,0,0,0,0
1,24.0,26.3,31.2,12.4800,4.3056,1,0,0,0,0,0,0
2,23.9,26.5,31.1,12.3778,4.6961,1,0,0,0,0,0,0
3,26.3,29.0,33.5,12.7300,4.4555,1,0,0,0,0,0,0
4,26.5,29.0,34.0,12.4440,5.1340,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
154,11.5,12.2,13.4,2.0904,1.3936,0,0,0,0,0,1,0
155,11.7,12.4,13.5,2.4300,1.2690,0,0,0,0,0,1,0
156,12.1,13.0,13.8,2.2770,1.2558,0,0,0,0,0,1,0
157,13.2,14.3,15.2,2.8728,2.0672,0,0,0,0,0,1,0
158,13.8,15.0,16.2,2.9322,1.8792,0,0,0,0,0,1,0

In [25]:
# #label encoding
# from sklearn.preprocessing import LabelEncoder, OneHotEncoder
# label_encoder = LabelEncoder()
# X.iloc[:,0] = label_encoder.fit_transform(X.iloc[:,0]) #LabelEncoder is used to encode the country value

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [30]:
print(X)

     Length1  Length2  Length3   Height   Width  Species_Bream  \
0       23.2     25.4     30.0  11.5200  4.0200              1
1       24.0     26.3     31.2  12.4800  4.3056              1
2       23.9     26.5     31.1  12.3778  4.6961              1
3       26.3     29.0     33.5  12.7300  4.4555              1
4       26.5     29.0     34.0  12.4440  5.1340              1
..       ...      ...      ...      ...     ...            ...
154     11.5     12.2     13.4   2.0904  1.3936              0
155     11.7     12.4     13.5   2.4300  1.2690              0
156     12.1     13.0     13.8   2.2770  1.2558              0
157     13.2     14.3     15.2   2.8728  2.0672              0
158     13.8     15.0     16.2   2.9322  1.8792              0

     Species_Parkki  Species_Perch  Species_Pike  Species_Roach  \
0                 0              0             0              0
1                 0              0             0              0
2                 0              0             0              0
3                 0              0             0              0
4                 0              0             0              0
..              ...            ...           ...            ...
154               0              0             0              0
155               0              0             0              0
156               0              0             0              0
157               0              0             0              0
158               0              0             0              0

     Species_Smelt  Species_Whitefish
0                0                  0
1                0                  0
2                0                  0
3                0                  0
4                0                  0
..             ...                ...
154              1                  0
155              1                  0
156              1                  0
157              1                  0
158              1                  0

[159 rows x 12 columns]

In [31]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.2, random_state=0)

In [32]:
# Fitting MLR to the Training Set
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [33]:
# predict value 
y_pred = regressor.predict(X_test)

In [34]:
y_pred

array([ 428.88533577,   98.08363614,  216.67998922,  208.66936638,
        657.24094116,  876.38855413,  665.97861965,  407.27203048,
        965.65306863,  146.62291102,  255.15532231,  561.63685124,
        765.67575361, 1012.38234027, -118.72798063,   14.47341216,
        137.60789564, 1155.53572308,  170.97092949,  724.93548455,
       -128.48675188,  525.45508599,  175.3519065 , 1322.74816983,
        -23.0873263 ,  475.44172778,  719.96841977,  280.94571114,
        885.12085107,  -16.63412226,  585.26038657,  164.22863371])

In [35]:
(abs(y_test-y_pred)).describe()

count     32.000000
mean      88.698815
std       97.553771
min        4.935485
25%       26.111024
50%       54.691978
75%      108.725854
max      444.464277
Name: Weight, dtype: float64

In [36]:
regressor.score(X_train, y_train)

0.9342848664059864

In [39]:
#We are getting 93.4% accuracy. Saving the model as pickle file
import pickle
filename = 'model.pkl'
pickle.dump(regressor, open(filename, 'wb'))

In [37]:
#RMSE ( root mean square error)
#r^2 ( r- square)
rmse = np.sqrt(mean_squared_error(y_test,y_pred))
r2 = r2_score(y_test,y_pred)
print('rmse:',rmse)
print('r2:',r2)

rmse: 130.71656295965573
r2: 0.910235031620258

In [38]:
data.corr()

           Weight   Length1   Length2   Length3    Height     Width
Weight   1.000000  0.915712  0.918618  0.923044  0.724345  0.886507
Length1  0.915712  1.000000  0.999517  0.992031  0.625378  0.867050
Length2  0.918618  0.999517  1.000000  0.994103  0.640441  0.873547
Length3  0.923044  0.992031  0.994103  1.000000  0.703409  0.878520
Height   0.724345  0.625378  0.640441  0.703409  1.000000  0.792881
Width    0.886507  0.867050  0.873547  0.878520  0.792881  1.000000